[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.0"
"pdir2" = "*"
pytesseract = "*"
pillow = "*"
requests = "*"
pyppeteer = "*"
termcolor = "*"

[dev-packages]

[requires]
python_version = "3.7"
